@use 'variables' as *;

header {
	background-color: $primary-color;
	color: white;
	height: $header-height;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 0 0.125rem 1rem rgba(0, 0, 0, 0.08);
}