$primary-color: #2A5D43;  // Verde pino
$secondary-color: #E8F6F0; // Verde menta chiaro
$third-color: #2f905e;
$text-color: #3C4A3E;      // Verde scuro neutro
$accent-color: #4cd68f;    // Pesca chiaro tenue
$border-color: 1px solid #2f905e;
$border-radius: 4px;

.qr-generator-container {
		padding: 1rem;
		max-width: 500px;
		margin: 0 auto;
		border: $border-color;

	.input-group {
		display: flex;
		flex-direction: column;
		align-items: center;

		.qr-input {
			flex: 1;
			width: 100%;
			padding: 0.5rem;
			border: $border-color;
			border-radius: $border-radius;
		}

		.qr-format {
				padding: 8px;
				border: $border-color;
				border-radius: $border-radius;
		}

		.generate-button {
			padding: 0.5rem 1rem;
				background-color: $third-color;
				color: white;
				border: none;
				border-radius: $border-radius;
				cursor: pointer;

				&:hover {
					background-color: $accent-color;
			}
		}
	}

	.qr-output {
		display: flex;
  	flex-direction: column;
  	align-items: center;
		text-align: center;

		img, svg {
			padding: 1rem;
			border: $border-color;
			border-radius: 4px;
			max-width: 200px;
			margin-bottom: 10px;
		}

		.download-button {
			display: inline-block;
			padding: 8px 16px;
			margin: 5px;
			background-color: #28a745;
			color: white;
			text-decoration: none;
			border-radius: $border-radius;

			&:hover {
				background-color: #218838;
			}
		}
	}
}